<% include layout/header.ejs %>
<% include layout/navbar.ejs %>

<div class="overlay">
    <!-- <div class="container thumbnail-img"></div> -->
    <div class="img-container" style="background-image: url(<%-data.image%>)"></div>
</div>
<div class="arrow">
        <a href="">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
        <a href="/info/">
            <i class="fas fa-arrow-circle-right"></i>
        </a>
</div>
<div class="container">
    <div class="thumbnail-data container" style="background-image: url(<%-data.image%>)"></div>
</div>
<div class="container">
    <div class="title">
        <h1 class="display-3">
            <%-data.mark_name%>
            <%-data.model%>
        </h1>
        <p>
           <b>Країна: </b><%-data.country%>
        </p>
        <p>
            <b>Тип кузову: </b><%-data.body%>
        </p>
        <p>
            <b>Тип трансмісії: </b><%-data.gearbox%>
        </p>
        <p>
            <b>Тип двигуна: </b><%-data.engine%>
        </p>
        <p>
            <b>Тип палива: </b><%-data.fuel%>
        </p>           
    </div>
    <div class="">
        <div class="main_info col-lg-8 col-sm-12">
            <button type="button" class="btn btn-light">Орендувати</button>
        </div>
    </div>
</div>

<% include layout/footer.ejs %>